body{
	background-color: #e1e1e1;
	font-family: "Lato", Open Sans, Oswald, sans-serif;
	font-size: 1.1em;
	box-sizing: border-box;
}
header{
	margin-left:10px;
	color: #566e7a;
}
footer{
	background-color: white;
	height: 50px;
	text-align: center;
}
footer p{
	display: inline-block;
	position: relative;	
	margin-top: 20px auto;
}
h1{
	font-size: 1.4em;
}
hr{
	margin-top: 40px;
	width: 20%;
}
.add-section{
	background: url('../images/bg-list2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 20px;
	height: 400px;
	text-align: center;
}
.list-icon{
	padding-top: 40px;
	position: relative;
}
.how-to-add{
	padding-top: 20px;
	font-size: 1.2em;
	color: white;
}
.input-field{
	padding-top: 10px;
}
.show-list-section{
	text-align: center;
	color: #566e7a;
}
#add-to-list{
	width: 400px;
	height: 30px;
	background-color: #566e7a;
	border: 1px #566e7a solid;
	border-radius: 10px;
	text-align: center;
	font-size: 0.8em;
	color: #dadada;
}
#add-to-list:focus{
	outline: 0;
}
.shopping-list{
	padding:0;
}
.list-item{
	width: 400px;
	height: 30px;
	background-color: #566e7a;
	border: 1px #566e7a solid;
	border-radius: 10px;
	text-align: center;
	font-size: 0.9em;
	color: #dadada;
	margin: 10px auto;	
}
.item-name{
	cursor: pointer;
}
.arrow-right, .checked-item-arrow{
	float: left;
	font-size: 16px;
	color: #00FFCA;
	margin-top: 7px;
	margin-left: 10px;
}
.item-name{
	/* margin: 7px auto; */
	font-size: 16px;	
	vertical-align: middle;
}
.delete-item{
	float: right;
	font-size: 20px;
	color: #CC1427;
	margin-top: 3px;
	margin-right: 10px;
	cursor: pointer;
}
.checked{
	text-decoration: line-through;
	background-color: #87ACBF;
	border: 1px #87ACBF solid;
}
.unchecked{
	text-decoration: none;
}

.clear-list-button{
	width: 100px;
	height: 30px;
	display: block;
	position: relative;
	margin: 10px auto;
	background-color: #A2CFE5;
	border: 1px #A2CFE5 solid;
	border-radius: 10px;
	font-size: 16px;
	color: #2D3940;
	text-align: center;
	cursor: pointer;
}
.clear-list-button:hover{
	background-color: #2D3940;
	border: 1px #2D3940 solid;
	color: white;
}
.clear-list-button:focus{
	outline: 0;
}

@media screen and (max-width: 500px){
	.how-to-add{
		font-size: 0.8em;
	}
	#add-to-list{
	width: 250px;
	border-radius: 5px;
	font-size: 0.6em;
	}
	.list-item{
	width: 250px;
	border-radius: 5px;
	font-size: 0.7em;
	margin: 5px auto;
	}
	h1{
		font-size: 0.8em;
	}
}